.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    width: 150px;
    height: 100px
}

.article{
    display: flex;
    flex-direction: row
}

.areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

.area-item {
    width: 30vw;
    border-style: solid;
    margin: 5px;
    padding: 10px
}

.park-header{
    text-align: center;
}

.guest {
    width: 25vw;
}

.guestDetails {
    border-style: dotted;
}

.guest-list {
    margin: 10px;
    line-height: 1.5;
}